[build]
  functions = "netlify/functions"
  publish = "."

[[redirects]]
  from = "/slack/atlan-setup"
  to = "/.netlify/functions/health"
  status = 200

[[redirects]]
  from = "/"
  to = "/.netlify/functions/health"
  status = 200

[functions."netlify/functions/*"]
  runtime = "python3.8"
